.filterLabel {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: medium;
  color: #087ea4;
  gap: 5px;
}

.filterInput {
  width: 300px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  font-size: 18px;
}
